.margintop{
  margin-top:50px;
  margin-left:65px;
}
.monthPre{
 color: gray;
 text-align: center;
}
.monthNow{
 color: darkgray;
 text-align: center;
}
.dayNow{
 border: 2px solid gray;
 color: #5e5e5e;
 text-align: center;
}
.calendar td{
 htmlContent: 2px;
 width: 40px;
}
.monthNow th{
 background-color: #f7f7f7;
 color: #5e5e5e;
 text-align: center;

 border-radius: 5px 5px 0px 0px;
 border-top:.5px;
}
.dayNames{
 background: #f7f7f7;
 color: #006600;
 text-align: center;
 border-top:.5 solid #006600;
}
